*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(180deg, #614385, #516395);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 100vh;
    overflow: hidden;
}

.container{
    width: 500px;
    height: 90vh;
    background: linear-gradient(180deg, #93A5CF, #E4EfE9);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}


#addBtn, #task{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    background: #e2e0dfa1;
}

#contentcontainer{
    margin-top: 20px;
    width: 90%;
}

.content{
    display: flex;
    align-items: center;
}

.deleteButton{
    background: rgb(145, 16, 214);
    width: 30px;
    height: 30px;
    border-radius: 20px; 
  
}

.h{
    font-size: 3rem;
    flex: 0 0 80%;
}









