*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container{
    width: 500px;
    height: 90vh;
    background: #503382a8;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
}


#addBtn, #task{
    font-size: 30px;
    padding: 3px;
    margin-top: 20px;
    border-radius: 10px;
    background: #e2e0dfa1;
}

#contentcontainer{
    margin-top: 20px;
    width: 90%;
}

.content{
    display: flex;
    align-items: center;
}

.deleteButton{
    background: rgb(57, 195, 39);
    width: 30px;
    height: 30px;
    border-radius: 20px; 
  
}

.h{
    font: 20px;
    flex: 0 0 80%;
}









